.btn-{
  &submit {
    border-radius: 7px;
    box-shadow: 0 4px 10px 0 rgba(42, 85, 164, 0.41);
    background-color: #2a55a4;
  }

  &type {
    border-radius: 12px;
    box-shadow: 0 4px 10px 0 rgba(42, 85, 164, 0.41);
    background-color: #2a55a4;
  }

  &filter {
    border-radius: 4px;
    box-shadow: 0 9px 11px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    border-color: #ffffff;
  }
}